body{
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #232323;
    color: white;
    font-family: "Avenir", monospace;
    /* font-size: 2rem; */
}

button{
    border: none;
    text-transform: uppercase;
    height: 100%;
    padding: 15px;
    font-weight: 600;
    font-size: .9rem;
    color: steelblue;
    letter-spacing: 1px;
    transition: all .5s;
}

button:hover{
    color: whitesmoke;
    background-color: darkblue;
}

.clr-set{
    display: inline-block;
    min-height: 150px;
    max-width: 150px;
    min-width: 150px;
    background-color: #333;
    color: white;
    border-radius: 45%;
    margin: 1.2%;
    width: 30%;
    transition: background 0.5s;
}

.clr-set:hover{
    animation-name: "foc";
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes foc{
    100%{
        opacity: 0.5;
    }
}

#main-head{
    margin-bottom: 0px;
    padding: 15px 0;
    background-color: steelblue;
    /* font-weight: normal; */
}

#main-head h1{
    margin-top: 0;  
    margin-bottom: 0;
    font-weight: 400;
    text-transform: uppercase;
}

#clr-cntr{
    width: 40%;
    margin: auto;
}

#toolbar{
    background:whitesmoke;
    /* min-height: 30px */
    ;
    color: purple;
    /* padding-top: 10px; */
    /* margin: 0 auto; */
    margin-bottom: 15px;
}

.btn-toggle{
    background: darkblue;
}

#status{
    /* min-height: 20px; */
    display: inline-block;  
    margin: 0  auto;
    min-width: 120px;
    /* height: 50px; */
    /* background-color: yellow; */
}

#rgb-clr{
    /* font-family: monospace; */
    /* font-weight: 600; */
    font-size: 150%;
    line-height: 1.1;
    /* width: 100px; */
}
@media screen  and (max-width: 1268px) { 
    #clr-cntr{
        width: 50%;
    }
}
